.example-card{
   
}
.mat-dialog-container{
padding:0!important;
}
.item-wrapper{
  position: relative;
  display:block;
  clear:both;
  
  min-height:45px;  
  border-bottom: solid 0 rgba(56, 96, 135, .20);
}
.item-icon{
  position: absolute;
  left:0;
  top:12px;
  color: rgba(56, 96, 135, .50);
}
.item-text{
  position: absolute;
  left:30px;
  top:10px;
  font-size:1.4rem;
}
.item-button{
  position: absolute;
  right:10px;
  top: 5px;
}
.view-page {
    display: block;
    margin: auto;
    width:100%;
    position: relative;
    padding: 0;
    padding-top: 0;
    
  }
  .view-content {
    display: block;
    margin: auto;
    width:99%;
    position: relative;
    padding: 2.8rem;
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    padding-bottom:0;
  }

  .mat-card{
    background-color: rgba(26, 41, 57, 1) !important;  
    
    min-width:200px;
  }
.mat-card-image{
  border-top:solid 1px #13202D;
  border-bottom: solid 1px #13202D;
}
.mat-card-subtitle{
  min-height:30px;
}
.mat-card-content{
 border-top:solid 0 #13202D;
}
  .image-card{
    max-height:300px;
  }